# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# Vector DB
storage/vectorstore/

# Node
node_modules/

# React build
build/

# OS
.DS_Store
Thumbs.db


# Uploaded docs
backend/storage/docs/

# Vector DB
backend/storage/vectorstore/

# Sample docs
backend/sample.pdf